root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{mod,txt}]
charset = utf-8

[*.{yml,yaml}]
indent_size = 2
indent_style = space

[{common/name_lists/**.txt,{localisation,localisation_synced}/**.yml}]
charset = utf-8-bom

[{localisation,localisation_synced}/**.yml]
indent_size = 1
indent_style = space
